// Color variables
$_main : #212529;
$_lightback : #a6a6a6;
$_orange : #eb9f2d;

html {
    min-height: 100%;
}

.scrollable-div {
    overflow: auto;

    min-height: 25vh;
    max-height: 100vh;
}

.delete {
    background-color: #be0202 !important;
    min-width: 60px !important;
    height: auto;
    border-radius: 50px !important;
    margin-left: 15px;
}

button {
    background: $_main;
    color: whitesmoke;
    padding: 15px 15px;
    min-width: 150px;

    font-weight: bold;
    text-decoration: none;
    border: none;

    border-radius: 15px !important;

}

.space { 
    margin-left: 15px;
}

.custom-h3 { 
    font-size: 1.2em;
}

.custom-desc { 
    background: $_lightback;
    width: 75%;
    padding: 10px 10px;
    border-radius: 5px;

    margin-top: 15px;
    margin-bottom: 15px;
}

.margin-top { 
    margin-top: 15px;
}

.centered { 
    margin-left: auto !important;
    margin-right: auto !important;
}

.red { 
    background : #be0202 !important;
}

.orange { 
    background: $_orange !important;
}

.home {
    td span:first-child { 
        font-size: 3.4em;
        color: $_orange !important;
    }

    td span{
        font-size: 1.4em;
        color: rgb(73, 73, 73);
    }
}

.navbar { 
    min-height: 5%;
}

.red-font {
    color : rgb(175, 25, 25);
    font-weight: bold;
}

.comment {
    margin-top: 15px;
    margin-bottom: 15px;

    padding: 20px;

    background : $_lightback;
    border-radius: 8px;
}